<div class="wrapper">
  <section class="banner" id="top">
    <h1 id="HeaderTitle">Search Away</h1>
    <nav class="header-nav">
      <ul>
      <a href="/" class="btn">HOME</a>
      <a href="/search" class="btn">SEARCH</a>
      <a href="/userHistory" class="btn">HISTORY</a>
      <a href="/account" class="btn">ACCOUNT</a>
      </ul>
    </nav>
</div>